openapi: 3.0.0
info:
  title: Tenor Autocomplete Categories API
  description: The Tenor API enables you to search for and share GIFs and stickers.
  version: 1.0.0
servers:
- url: https://tenor.googleapis.com/v2
tags:
- name: Categories
paths:
  /categories:
    get:
      summary: Get Categories
      description: 'Get a JSON object that contains a list of GIF categories associated with the provided type.


        Each category includes a corresponding search URL to use if the user clicks on the category. The search URL includes any parameters from the original call to the Categories endpoint.

        '
      parameters:
      - name: key
        in: query
        description: As above.
        required: true
        schema:
          type: string
      - name: client_key
        in: query
        description: As above.
        required: false
        schema:
          type: string
      - name: country
        in: query
        description: As above.
        required: false
        schema:
          type: string
          minLength: 2
          maxLength: 2
          default: US
      - name: locale
        in: query
        description: As above.
        required: false
        schema:
          type: string
          default: en_US
      - name: type
        in: query
        description: 'Determines the type of categories returned.


          Accepted values are `featured` (default) and `trending`.

          '
        required: false
        schema:
          type: string
          enum:
          - featured
          - trending
          default: featured
      - name: contentfilter
        in: query
        description: As above.
        required: false
        schema:
          type: string
          enum:
          - false
          - low
          - medium
          - high
          default: false
      responses:
        '200':
          description: Successful response with a list of categories.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesResults'
        '400':
          description: Bad request due to invalid parameters.
        '401':
          description: Unauthorized access due to an invalid API key.
        '500':
          description: Internal server error.
      tags:
      - Categories
components:
  schemas:
    CategoryObject:
      type: object
      properties:
        name:
          type: string
          description: Name of the category.
        image:
          type: string
          description: URL of the category image.
        path:
          type: string
          description: Search URL to use if the user clicks on the category.
    CategoriesResults:
      type: object
      properties:
        tags:
          type: array
          items:
            $ref: '#/components/schemas/CategoryObject'
