openapi: 3.0.0
info:
  title: Tenor Autocomplete Registershare API
  description: The Tenor API enables you to search for and share GIFs and stickers.
  version: 1.0.0
servers:
- url: https://tenor.googleapis.com/v2
tags:
- name: Registershare
paths:
  /registershare:
    get:
      summary: Register Share
      description: 'Register a user''s sharing of a GIF or sticker.


        This optional call helps Tenor''s Search Engine AI tune its results.

        '
      parameters:
      - name: key
        in: query
        description: As above.
        required: true
        schema:
          type: string
      - name: id
        in: query
        description: The `id` of a Response Object.
        required: true
        schema:
          type: string
      - name: client_key
        in: query
        description: As above.
        required: false
        schema:
          type: string
      - name: country
        in: query
        description: As above.
        required: false
        schema:
          type: string
          minLength: 2
          maxLength: 2
          default: US
      - name: locale
        in: query
        description: As above.
        required: false
        schema:
          type: string
          default: en_US
      - name: q
        in: query
        description: The search string that leads to this share.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful registration of share.
        '400':
          description: Bad request due to invalid parameters.
        '401':
          description: Unauthorized access due to an invalid API key.
        '500':
          description: Internal server error.
      tags:
      - Registershare
